body {
    margin: 0;
    box-sizing: border-box;
    color: #636161;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.2em;
    padding-top: 2em;
}

#name {
    width: 50%;
    margin-right: 20%;
    padding-left: 2em;
    padding-right: inherit;
}

.nav {
    width: 60%;
    margin-left: 20%;
    padding-right: 2em;
}

nav a {
    padding: 0 1em;
    color: #636161;
    text-decoration: none;
}

nav a:hover {
    color: #000000
}