html {
    box-sizing: border-box;
    background-color: black;
}

body {
    margin: auto;
    max-width: 50%;
    height: 2200px;
    background-color: white;
}

.div {
    float: left;
    width: 200px;
    height: 100px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    border: 1px solid black;
    text-align: center;
    background-color: yellow;
}

p {
    clear: left;
    padding-top: 1em;
    padding-left: 1em;
}